.checkout-stepper-background {
  background: #303030;
  color: white;
}

.btn-padding-top {
  margin-top: 16px;
}

.container {
  width: 400px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}