/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1;
}

.text-center {
  text-align: center;
}