h1 {
    text-align: center;
  }
h2 {
    text-align: center;
  }
.button {
    text-align: center;
    justify-content: center;
}

  .column {
    float: left;
    width: 33.33%;
  }

  .mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    text-align: center;
}
  